html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 60px;
    background-color: #eee;
    margin-bottom: 30px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #ccc
}

.navbar-brand .active {
  color:#fff;
}

.navbar-brand .active:hover {
  color:#ccc;
}


.rotate90
{
    display: inline-block;
    writing-mode: tb-rl;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.text-error {
    color: #d2322d;
}

.nav-pills li.inactive {
    color: #428bca;
    background-color: #fff;
}

.categories {
    padding-bottom:20px;
}


.progress {
  width: 50%;
}
.progress-bar {
    color: black;
}


.progress-bar span {
    min-width:300px;
    display: block;
}