@()

@import helper._

@main(null) {


@if(flash.containsKey("error")) {
<div class="alert-message error">
    <p>
        <strong>Oops!</strong> @flash.get("error")
    </p>
</div>
}

@if(!session.isEmpty()){
    <div>

    </div>
}

<div ng-controller="FeedCtrl" ng-init="init()">
    <div class="">

        <div class="panel panel-default" ng-repeat="transformer in transformers  | orderBy:['order','name']">
            <div class="panel-heading">
                <h3 class="panel-title">{{transformer.name}}</h3>

            </div>
                <div class="panel-body">
                    <span  class="pull-right">
                        @if(!session.isEmpty()) {
                        <button class="btn btn-sm btn-default"  ng-click="sendStart(transformer.id)"><i class="glyphicon glyphicon-play"></i></button>
                        <button class="btn btn-sm btn-default" ng-href="/pause/{{transformer.id}}" ng-click="sendPause(transformer.id)"><i class="glyphicon glyphicon-pause"></i></button>
                        <button class="btn btn-sm btn-default" ng-href="/stop/{{transformer.id}}"  ng-click="sendStop(transformer.id)"><i class="glyphicon glyphicon-stop"></i></button>
                        <a class="btn btn-sm btn-primary" ng-href="/edit/{{transformer.id}}"><i class="glyphicon glyphicon-wrench"></i></a>
                        } else {
                        }
                    </span>

                    <div id="chat" ng-repeat="msg in msgs | filter:{channelId:transformer.id, channelName: transformer.name} | limitTo:-1">
                        <div >
                            <span class="label label-info">Status:&nbsp;{{msg.status}}</span>&nbsp;
                            <span class="label label-info">Workers:&nbsp;{{msg.activeworkers}}</span>&nbsp;
                            <span class="label label-info">Start time:&nbsp;{{msg.startTime}}</span>&nbsp;
                            <span class="label label-info" ng-hide="msg.status!='STOPPED'">Stop time:&nbsp;{{msg.stopTime}}</span>
                            <br/>
                            <span class="label label-info">File:&nbsp;{{msg.currentFile}}</span>
                            <br/>
                            <span class="label label-info"># lines:&nbsp;{{msg.nrOfLines}}</span>&nbsp;
                            <span class="label label-success"   ng-hide="msg.successes=='0'">Success:&nbsp;{{msg.successes}}</span>&nbsp;
                            <span class="label label-important" ng-hide="msg.failures=='0'">Errors:&nbsp;{{msg.failures}}</span>&nbsp;
                            <span class="label label-warning"   ng-hide="msg.timeouts=='0'">Time-outs:&nbsp;{{msg.timeouts}}</span>
                        </div>
                    </div>
                    <div class="{{msg.who}} msg" ng-repeat="msg in msgs | filter:{channelId:transformer.id, channelName: transformer.name} | limitTo:-10">
                        <span  ng-hide="msg.text==''"><span class="muted">{{msg.time}}</span>&nbsp;{{msg.text}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@if(session.isEmpty()) {
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>For internal use only</strong><br/>
        If you don't know what this application is for, do not use it.
    </div>
}


}