@(transformers: List[Transformer], transformerForm: Form[Transformer])

@import helper._

@main(null) {


@if(flash.containsKey("error")) {
<div class="alert-message error">
    <p>
        <strong>Oops!</strong> @flash.get("error")
    </p>
</div>
}

@if(!session.isEmpty()){
    <div>
        <a href="@routes.SupervisorControl.edit(0)"><button class="btn btn-primary pull-right">New</button></a>
    </div>
}

<div ng-controller="FeedCtrl" ng-init="init()">
    <div class="">
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th><th>Status</th><th>Control</th><th>Edit</th>
            </tr>
            @for(transformer <- transformers) {
            <tr>
                <td class="span1">@transformer.name</td>
                <td class="span8" >
                    <div id="chat" ng-repeat="msg in msgs | filter:{channelId:'@transformer.id', channelName: '@transformer.name'} | limitTo:-1">
                        <div >
                            <span class="label label-info">Status:&nbsp;{{msg.status}}</span>&nbsp;
                            <span class="label label-info">Workers:&nbsp;{{msg.activeworkers}}</span>&nbsp;
                            <span class="label label-success"   ng-hide="msg.successes=='0'">Succes:&nbsp;{{msg.successes}}</span>&nbsp;
                            <span class="label label-important" ng-hide="msg.failures=='0'">Errors:&nbsp;{{msg.failures}}</span>&nbsp;
                            <span class="label label-warning"   ng-hide="msg.timeouts=='0'">Time-outs:&nbsp;{{msg.timeouts}}</span>
                            <!--<span>{{msg.status == 'RUNNING'}}</span>-->
                            <br/>
                            <span class="label label-info">Start time:&nbsp;{{msg.startTime}}</span>&nbsp;
                            <span class="label label-info">File:&nbsp;{{msg.currentFile}}</span>&nbsp;
                            <span class="label label-info"># lines:&nbsp;{{msg.nrOfLines}}</span>&nbsp;
                        </div>
                    </div>
                    <div class="{{msg.who}} msg" ng-repeat="msg in msgs | filter:{channel:'channel@transformer.id'} | limitTo:-10">
                        <span><span class="muted">{{msg.time}}</span>&nbsp;{{msg.text}}</span>
                    </div>

                </td>
                @if(!session.isEmpty()) {
                <td class="span2">
                        <button class="btn" href="@routes.SupervisorControl.start(transformer.id)" ng-click="sendStart(@transformer.id)"><i class="icon-play"></i></button>
                        <button class="btn" href="@routes.SupervisorControl.pause(transformer.id)"ng-click="sendPause(@transformer.id)"><i class="icon-pause"></i></button>
                        <button class="btn" href="@routes.SupervisorControl.stop(transformer.id)" ng-click="sendStop(@transformer.id)"><i class="icon-stop"></i></button>
                </td>
                <td class="span1">
                    <a class="btn btn-inverse" href="@routes.SupervisorControl.edit(transformer.id)"><i class="icon-wrench icon-white"></i></a>
                </td>
                } else {
                <td class="span3">&nbsp;
                </td>
                }
            </tr>
            }
        </table>
    </div>
</div>



@if(session.isEmpty()) {
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>For internal use only</strong><br/>
        If you don't know what this application is for, do not use it.
    </div>
}


}