@(title: String, id : Long, transformerForm: Form[Transformer])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main(title) {


<h2>@title</h2>

@if(!session.isEmpty() && id != 0) {
    @form(routes.SupervisorControl.delete(id), 'class -> "topRight") {
    <input type="submit" value="Delete" class="btn btn-danger  pull-right">
    }
}

@form(routes.SupervisorControl.save(id), 'class -> "form-horizontal") {
<input type="hidden" value="@id" name="id"/>

<div class="row">

    <div class="span12">
        <h4>General</h4>
        @inputText(transformerForm("name"), '_label -> "Name", 'class -> "input-medium")

        <h4>Input</h4>
        @inputText(transformerForm("importPath"), '_label -> "import directory", 'class -> "input-xxlarge")
        @inputText(transformerForm("importFileExtension"), '_label -> "file extension", 'class -> "input-mini")
        @inputText(transformerForm("importFilecontentType"), '_label -> "char-set", 'class -> "input-mini")

        <h4>Webservice</h4>
        @inputText(transformerForm("webserviceURL"), '_label -> "URL", 'class -> "input-xxlarge")
        @inputText(transformerForm("webserviceTimeout"), '_label -> "time-out", 'class -> "input-mini")
        @inputText(transformerForm("webserviceCharSet"), '_label -> "char-set", 'class -> "input-mini")

        <h4>Output</h4>
        @inputText(transformerForm("webserviceUser"), '_label -> "user", 'class -> "input-medium")
        @inputText(transformerForm("webservicePassword"), '_label -> "password", 'class -> "input-medium")
        @inputText(transformerForm("timeStampString"), '_label -> "EIStimestamp ", 'class -> "input-large")
        @textarea(transformerForm("webserviceTemplate"), '_label -> "SOAP template",'rows -> 50, 'cols -> 80, 'class -> "input-xxlarge")
    </div>
</div>

<div class="actions">
    <a href="@routes.Application.index()" class="btn">Annuleer</a> &nbsp;
    <input type="submit" value="Opslaan" class="btn btn-primary">

</div>
}


}