@(title: String, id : Long, transformerForm: Form[Transformer])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main(title) {

<div class="panel panel-default" >
    <div class="panel-heading">
        <h3 class="panel-title">@title</h3>
    </div>
    <div class="panel-body">

@if(id != 0) {
        <div class="pull-right">
            <a class="btn btn-default " href="#" data-toggle="modal" data-target="#cloneModal"><i class="glyphicon glyphicon-leaf"></i> Clone</a>&nbsp;
            <a class="btn btn-danger " href="#" data-toggle="modal" data-target="#removeConfirm"><i class="glyphicon glyphicon-trash"></i> Delete</a>
        </div>
}


@form(routes.SupervisorControl.save(id), 'class -> "form-horizontal") {
        <input type="hidden" value="@id" name="id"/>


        <h4>General</h4>
        @inputText(transformerForm("name"), '_label -> "Name", 'inputDivClass -> "col-md-3")
        @inputText(transformerForm("category"), '_label -> "Category", 'inputDivClass -> "col-md-3")

        <h4>Input</h4>
        @inputText(transformerForm("nrOfRequests"), '_label -> "No. of requests", 'inputDivClass -> "col-md-2")

        <h4>Webservice</h4>
        @inputText(transformerForm("webserviceURL"), '_label -> "URL", 'inputDivClass -> "col-md-8")
        @inputText(transformerForm("webserviceTimeout"), '_label -> "time-out", 'inputDivClass -> "col-md-2")
        @inputText(transformerForm("webserviceCharSet"), '_label -> "char-set", 'inputDivClass -> "col-md-2")

        <h4>Output</h4>
        @inputText(transformerForm("webserviceUser"), '_label -> "user", 'inputDivClass -> "col-md-3")
        @inputText(transformerForm("webservicePassword"), '_label -> "password", 'inputDivClass -> "col-md-3")

        <div class="col-md-offset-2 alert alert-info">
            <p>You can use the following placeholders in the SOAP template: <strong>{user} {password} {timestamp} {id}</strong></p>
        </div>
        @textarea(transformerForm("webserviceTemplate"), '_label -> "SOAP template",'rows -> 50,  'inputDivClass -> "col-md-10")


    <div class="col-md-offset-2">
        <a href="@routes.Application.index()" class="btn btn-default">Cancel</a> &nbsp;
        <input type="submit" value="Save" class="btn btn-primary">
    </div>
}
</div>  <!-- /panel-body-->
</div>  <!-- /panel panel-default-->


    <!-- Modal removeConfirm form-->
    <div class="modal fade" id="removeConfirm" tabindex="-1" role="dialog" aria-labelledby="removeConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="removeConfirmLabel">Delete transformer</h4>
                </div>
                @form(routes.SupervisorControl.delete(id)) {
                <div class="modal-body">
                    <p>Are you sure you want to delete this transformer?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                    <button id="submitFeedSubscription" type="submit" value="Submit" class="btn btn-danger btn-sm">Yes</button>
                </div>
                }
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal removeConfirm-->

    <div class="modal fade" id="cloneModal" tabindex="-1" role="dialog" aria-labelledby="cloneModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="cloneModalLabel">Clone this transformer</h4>
                </div>
                @form(routes.SupervisorControl.cloneThisTransformer(id)) {
                <div class="modal-body">
                    <p>Are you sure you want to clone this transformer?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button id="submitFeedSubscription" type="submit" value="Submit" class="btn btn-primary btn-sm">Yes</button>
                </div>
                }
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal cloneModal-->

}